html, body, .main {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.logcomp_main > h2 {
  margin-bottom: 40px;
}

.logcomp_main > .logcomp_submit {
  margin-bottom: 40px;
}

.logcomp_main > .logcomp_firstinput {
  margin-bottom: 10px;
}

.logcomp_result {
  margin-left: 40px;
}
